;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[lilactown/helix "0.2.0"] [com.thheller/shadow-css "0.5.0"]]

 :builds
 {:app {:target :browser
        :modules {:main {:init-fn app.core/init}}
        :devtools {:reload-strategy :full
                   :preloads [app.dev]
                   :http-root "public"
                   :http-port 8080}
        }}}
