;; shadow-cljs configuration
{
 :deps true
 :nrepl {:middleware [cider.nrepl/cider-middleware]}

 :builds
 {:app {:target :browser
        :modules {:main {:init-fn app.core/init}}
        :devtools {:reload-strategy :full
                   :preloads [app.dev]
                   :http-root "public"
                   :http-port 8080}
        }}}
