;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :nrepl {:middleware [cider.nrepl/cider-middleware]}

 :dependencies
 [[lilactown/helix "0.2.0"] [com.thheller/shadow-css "0.5.0"] [cider/cider-nrepl "0.51.1"]]

 :builds
 {:app {:target :browser
        :modules {:main {:init-fn app.core/init}}
        :devtools {:reload-strategy :full
                   :preloads [app.dev]
                   :http-root "public"
                   :http-port 8080}
        }}}
